Repository DemonDaddy22/Appunti-Server, changes with the labels that .github/labeler.yml gives for each.
All labels: modules, source, documentation, package, config, workflow

.github/labeler.yml:

modules:
    - node_modules/*
    - node_modules/**/*

source:
    - src/*
    - src/**/*
    - public/*
    - public/**/*

documentation:
    - '*.md'

package:
    - package.json
    - package-lock.json
    - tsconfig.json

config:
    - .eslintrc.js
    - .eslintignore
    - .vscode/*

workflow:
    - '.github/*'
    - '.github/**/*'

Create mongoose connection to appunti db
  package-lock.json
  package.json
  src/index.js
Labels: source, package

Create Book and BookShelf models
  src/models/Book.js
  src/models/BookShelf.js
Labels: source

Create add book controller
  src/controllers/Books/Book.js
  src/controllers/Books/BookSearch.js
  src/index.js
  src/utils/index.js
Labels: source

Create findBookByID and findBookByGID controller methods
  src/controllers/Books/Book.js
  src/models/Book.js
  src/models/BookShelf.js
  src/utils/index.js
Labels: source

Add Book routes
  src/constants.js
  src/controllers/Books/Book.js
  src/index.js
  src/models/Book.js
  src/routes/Books/Book.js
Labels: source

Restyled by clang-format
  src/controllers/Books/Book.js
  src/controllers/Books/BookSearch.js
  src/index.js
  src/models/Book.js
  src/models/BookShelf.js
  src/routes/Books/Book.js
Labels: source

Restyled by jq
  package-lock.json
  package.json
Labels: package

Restyled by prettier
  src/controllers/Books/Book.js
  src/controllers/Books/BookSearch.js
  src/index.js
  src/models/Book.js
  src/models/BookShelf.js
  src/routes/Books/Book.js
Labels: source

Restyled by prettier-json
  package-lock.json
  package.json
Labels: package

Create add bookshelf controller
  src/controllers/Books/Book.js
  src/controllers/Books/BookSearch.js
  src/controllers/Books/BookShelf.js
  src/index.js
  src/models/BookShelf.js
  src/routes/Books/BookShelf.js
  src/utils/index.js
Labels: source

Fix models and add bookshelf controller and create getAllBookshelves controller
  src/controllers/Books/Book.js
  src/controllers/Books/BookShelf.js
  src/models/Book.js
  src/models/BookShelf.js
  src/routes/Books/BookShelf.js
Labels: source

Update models
  src/controllers/Books/BookShelf.js
  src/models/Book.js
  src/models/BookShelf.js
Labels: source

Get books instead of bookIds for update bookshelf API
  src/controllers/Books/BookShelf.js
  src/routes/Books/BookShelf.js
Labels: source

Update bookshelf using id since updating by uid results in wrong entry getting updated
  src/controllers/Books/BookShelf.js
Labels: source

Restyled by clang-format
  src/controllers/Books/Book.js
  src/controllers/Books/BookSearch.js
  src/controllers/Books/BookShelf.js
  src/index.js
  src/models/Book.js
  src/models/BookShelf.js
  src/routes/Books/Book.js
  src/routes/Books/BookShelf.js
  src/utils/index.js
Labels: source

Restyled by jq
  package-lock.json
  package.json
Labels: package

Restyled by prettier
  src/controllers/Books/Book.js
  src/controllers/Books/BookSearch.js
  src/controllers/Books/BookShelf.js
  src/index.js
  src/models/Book.js
  src/models/BookShelf.js
  src/routes/Books/Book.js
  src/routes/Books/BookShelf.js
  src/utils/index.js
Labels: source

Restyled by prettier-json
  package-lock.json
  package.json
Labels: package

Add delete bookshelf controller and validateUUIDv4 util
  src/controllers/Books/BookShelf.js
  src/routes/Books/BookShelf.js
  src/utils/validateUUID.js
Labels: source

Add descriptive comments
  src/controllers/Books/BookShelf.js
Labels: source

Fix lint error
  src/controllers/Books/BookShelf.js
Labels: source

Restyled by clang-format
  src/controllers/Books/Book.js
  src/controllers/Books/BookSearch.js
  src/controllers/Books/BookShelf.js
  src/index.js
  src/models/Book.js
  src/models/BookShelf.js
  src/routes/Books/Book.js
  src/routes/Books/BookShelf.js
  src/utils/index.js
  src/utils/validateUUID.js
Labels: source

Restyled by jq
  package-lock.json
  package.json
Labels: package

Restyled by prettier
  src/controllers/Books/Book.js
  src/controllers/Books/BookSearch.js
  src/controllers/Books/BookShelf.js
  src/index.js
  src/models/Book.js
  src/models/BookShelf.js
  src/routes/Books/Book.js
  src/routes/Books/BookShelf.js
  src/utils/index.js
  src/utils/validateUUID.js
Labels: source

Restyled by prettier-json
  package-lock.json
  package.json
Labels: package

Restyled by clang-format
  src/controllers/Books/Book.js
  src/controllers/Books/BookSearch.js
  src/controllers/Books/BookShelf.js
  src/index.js
  src/models/Book.js
  src/models/BookShelf.js
  src/routes/Books/Book.js
  src/routes/Books/BookShelf.js
  src/utils/index.js
  src/utils/validateUUID.js
Labels: source

Restyled by jq
  package-lock.json
  package.json
Labels: package

Restyled by prettier
  src/controllers/Books/Book.js
  src/controllers/Books/BookSearch.js
  src/controllers/Books/BookShelf.js
  src/index.js
  src/models/Book.js
  src/models/BookShelf.js
  src/routes/Books/Book.js
  src/routes/Books/BookShelf.js
  src/utils/index.js
  src/utils/validateUUID.js
Labels: source

Restyled by prettier-json
  package-lock.json
  package.json
Labels: package

Add getBookShelfByUID controller
  src/controllers/Books/BookShelf.js
  src/routes/Books/Book.js
  src/routes/Books/BookShelf.js
Labels: source

Add bookshelf to book model
  src/controllers/Books/BookShelf.js
  src/models/Book.js
Labels: source

Update addBook controller
  src/controllers/Books/Book.js
  src/models/Book.js
  src/routes/Books/Book.js
Labels: source

Check if id is valid in book controllers
  src/controllers/Books/Book.js
Labels: source

Update book model and rectify add book controller to save bookshelf as well
  src/controllers/Books/Book.js
  src/controllers/Books/BookShelf.js
  src/models/Book.js
  src/models/BookShelf.js
  src/routes/Books/Book.js
Labels: source

Seed data for testing
  .gitignore
Labels: none

Testing changes
  .gitignore
  src/controllers/Books/BookShelf.js
Labels: source
